body {
    color: #fff;
    background-color: #11142e;
}

.header,
.footer {
    text-align: center;
    height: 100px;
}

.calculate {
    display: flex;
    flex-direction: column;
    padding: 0px 400px;
}

button {
    padding: 10px 70px;
}

#rowOne,
#rowTwo,
#rowThree,
#rowFour,
#rowFourDivOne,
#rowFourDivTwo {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
}

#rowFourDiv {
    flex-direction: column;
}
