body {
    color: #fff;
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.calculate {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

a {
    text-decoration: none;
    color: #4adeff;
}

#rowOne,
#rowTwo,
#rowThree,
#rowFour,
#rowFourDivOne,
#rowFourDivTwo {
    display: flex;
}

#zero {
    width: 100%;
}

#equals {
    height: 14vw;
}

#displayText,
#displayOutput {
    font-size: 40px;
    text-align: right;  
    height: 50px;
    background-color: #00000076;
    padding: 0px 10px;
    border: none;
}

#displayText {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.footer {
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #00000076;
}

input {
    width: 7vw;
    height: 7vw;
    border-radius: 0%;
    font-size: 3vw;
}
